
a{
    text-decoration: none;
}
/**notes**/
.notes-hero{
    height:250px;
    background:linear-gradient(to right,#0f2027,#203a43,#2c5364);
    color:white;
    text-align:center;
    padding-top:70px;
}

.notes-hero h1{
    font-size:50px;
}

.notes-hero input{
    width:500px;
    height:45px;
    margin-top:20px;
    border:none;
    border-radius:30px;
    padding-left:20px;
    font-size:18px;
}

.categories{
    display:flex;
    justify-content:space-evenly;
    margin-top:40px;
    flex-wrap:wrap;
}
.notes-container{
    display:flex;
    overflow-x:auto;
    gap:20px;
    padding:20px;
    scroll-snap-type:x mandatory;
}

.note-card{
    min-width:300px;
    flex-shrink:0;
    scroll-snap-align:start;
}

.note-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin-top:50px;
}

.note-card{
    width:280px;
    background:white;
    box-shadow:0 0 10px gray;
    margin:20px;
    border-radius:15px;
    overflow:hidden;
}

.note-card img{
    width:100%;
    height:180px;
}

.note-card h2{
    padding:10px;
}

.note-card p{
    padding:10px;
}

.note-card button{
    margin:15px;
    background:#ff9900;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
}

.latest{
    background:#232f3e;
    color:white;
    padding:50px;
    margin-top:40px;
}

.upload-box{
    background:#37475a;
    padding:20px;
    margin-top:15px;
    border-radius:10px;
}

.stats{
    display:flex;
    justify-content:space-evenly;
    padding:60px;
    background:#e3e6e6;
    text-align:center;
}

.stats h1{
    color:#ff9900;
    font-size:45px;
}
/**11**/
/* ================= HERO SECTION ================= */

.course-hero{
    height: 500px;
    background-image: url("banner11.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay{
    background:  #232f3e;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay h1{
    font-size: 65px;
    color: #ff9900;
    letter-spacing: 3px;
}

.overlay p{
    font-size: 22px;
    margin-top: 20px;
}

.overlay button{
    margin-top: 35px;
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    background: #ff9900;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.overlay button:hover{
    background: #e67e00;
    transform: scale(1.05);
}

/* ================= COURSE OVERVIEW ================= */

.about-course{
    padding: 70px;
    text-align: center;
    background: #f4f4f4;
}

.about-course h1{
    font-size: 45px;
    color: #232f3e;
    margin-bottom: 30px;
}

.about-course p{
    font-size: 20px;
    line-height: 35px;
    width: 80%;
    margin: auto;
    color: #555;
}

/* ================= SUBJECTS ================= */

.subjects{
    padding: 70px;
    background: white;
}
.subjects img{
    border-radius: 100px;
}
.subjects h1{
    text-align: center;
    font-size: 45px;
    color: #232f3e;
    margin-bottom: 50px;
}

.subject-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.subject-card{
    width: 270px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.4s;
    
}

.subject-card:hover{
    transform: translateY(-12px);
    }

.subject-card img{
    width: 200px;
    height: 200px;
    margin-top: 25px;
    }

.subject-card img:hover{
    opacity: 0.5;
}

.subject-card h2{
    margin-top: 20px;
    color: #232f3e;
}

.subject-card p{
    color: gray;
    line-height: 30px;
    margin-top: 15px;
}

.subject-card button{
    margin: 25px;
    padding: 12px 30px;
    border: none;
    background: #ff9900;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.subject-card button:hover{
    background: #e67e00;
}

/* ================= FEATURES ================= */

.course-features{
    padding: 70px;
    background: #232f3e;
    color: white;
}

.course-features h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}

.feature-grid div{
    background: #37475a;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    transition: 0.3s;
}

.feature-grid div:hover{
    background: #ff9900;
    transform: scale(1.05);
}

/* ================= RESPONSIVE ================= */

@media(max-width:768px){

.course-hero{
    height: 400px;
}

.overlay h1{
    font-size: 38px;
}

.overlay p{
    font-size: 18px;
}

.about-course{
    padding: 40px 20px;
}

.about-course p{
    width: 100%;
}

.subject-card{
    width: 90%;
}

.feature-grid{
    grid-template-columns: repeat(1,1fr);
}

}

/**chapter**/----------------------------------------------------------------
/* ================= CHAPTER SECTION ================= */

.chapters{
    background:#f5f5f5;
    padding:70px;
}

.chapters h1{
    text-align:center;
    font-size:45px;
    margin-bottom:50px;
    color:#232f3e;
}

.chapter-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.chapter-card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.chapter-card:hover{
    transform:translateY(-8px);
}

.chapter-card h2{
    color:#ff9900;
}

.chapter-card h3{
    margin-top:10px;
}

.chapter-card p{
    margin:20px 0;
    color:gray;
}

.chapter-btn{
    display:flex;
    justify-content:space-between;
}

.read-btn{
    background:#ff9900;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;
}

.video-btn{
    background:#232f3e;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;
}

